.bins header {
    width: 25vw;
}

.bins nav {
    display: flex;
    position: absolute;
    width: 75vw;
    height: 13vh;
    top: 0;
    left: 25vw;
    background-color: #D34735;
}

nav h1 {
    color: white;
    padding-left: 2vw;
    padding-top: 2vh;
    display: flex;
    height: 50%;
    font-size: 180%;
}

.bins header img {
    padding-left: 10vw;
    padding-top: 4vh;
}

.bins .container {
    background-color: #ED6B5A;
}

#add {
    background-color: #FFB8AF;
}