header {
    display: flex;
    position: absolute;
    top: 0;
    height: 13vh;
    background-color: #AB2A19;
    font-family: "Open Sans", sans-serif;
    color: white;
}

.home header {
    width: 100vw;
}

header img {
    display: flex;
    height: 50%;
}

.home header img {
    padding-left: 30vw;
    padding-top: 4vh;
}

header h1 {
    padding-left: 1vw;
    padding-top: 3vh;
    display: flex;
    height: 50%;
}

.body {
    padding: 0% 25%;
    position: relative;
    top: 13vh;
}

.container{
    width: 500px;
    height: 60px;
    margin: 20px;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: white;
    text-decoration: none !important;
}

.home .container {
    background-color: #D34735;
}

.home .container {
    font-weight: bold;
}

.home .container span {
    padding-right: 45%;
}